md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Arquitectura de componentes
    ul
      li
        p Objetivo: Crear y mantener una arquitectura de componentes para la creación de aplicaciones Bankia de una forma ágil. Dicha arquitectura está construída sobre tecnologías como AngularJS y Jade.
      li
        p Tareas realizadas:
        ul
          li Crear nuevas directivas como componentes con AngularJS
          li Planificar tareas
          li Analizar requirimientos sobre nuevos componentes
          li Mantenimiento de los componentes
          li Apoyo a los equipos que utilicen la nueva arquitectura
      li
        p Tecnologías: HTML5, CSS3, JavaScript, SCSS, Jade Template Engine, Bootstrap, JQuery, Yeoman, Grunt, D3, Node
      p De momento la Oficina Internet Empresas 2 está siendo construída con esta arquitectura en todas sus versiones: escritorio, móvil y tablet.
      p También se está trabajando en incorporar la nueva arquitectura en otras aplicaciones corporativas de Bankia.
  .md-actions(layout="row")
    md-button.md-primary(ng-click="hide()") Cerrar