md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Cells apps
    ul
      li
        p Objetivo: Soporte a las aplicaciones a desarrollar con Cells
      li
        p Tareas realizadas:
        ul
          li Próximamente ...
      li
        p Tecnologías: Polymer, HTML5, CSS3, JavaScript, SCSS
      li
        p Metodología: SCRUM
  .md-actions(layout="row")
    md-button.md-primary(ng-click="hide()") Cerrar
