md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Cells apps
    p He trabajado en diferentes áreas dentro de BBVA: dando soporte a los equipos primero desde App y más tarde en Disciplina para BBVA empresas España.
    p También he participado en el desarrollo de proyectos como Shopping App, MyBusiness y ciertas funcionalidades Glomo (la app de clientes) para diferentes regiones.
    p He usado tecnologías web enfocadas al desarrollo de webcomponents para crear aplicaciones híbridas dentro de un marco nativo en Android e iOS.
    ul
      li
        p Tecnologías: Lit, Polymer, HTML5, CSS3, JavaScript, SCSS
      li
        p Metodología: SCRUM
  .md-actions(layout="row")
    md-button.md-primary(ng-click="hide()") Cerrar
