md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Generación de plantillas XSLT-FO
    p Se trata de mi primer proyecto con Adesis Netlife.
    ul
      li: p Objetivo: Generación de plantillas XSLT-FO que alimentadas de archivos XML permitan la generación de documentos PDF dinámicos.
      li: p Tareas: Dar apoyo al equipo Front-end en el desarrollo de PDFs dinámicos tanto en la maquetación como en la inclusión de la lógica.
      li: p Tecnologías: HTML, CSS y Altova.

  .md-actions(layout="row")
    md-button.md-primary(ng-click="hide()") Cerrar