
.icon-cv:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-x-twitter:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
