.master-head.about.fade-in.fade1
  .info(layout="row", layout-align="center end")
    p Conóceme un poco a través de mis aficiones y otros intereses
md-content.fade-in.fade2
  md-card
    md-card-content
      .info-card
        p
          img.photo(src="src/images/alex.jpg", alt="Alex")
          | Soy una persona alegre y divertida a la que le gusta crear buen ambiente. Profesionalmente soy desarrollador front y en mi tiempo libre hago mis pinitos con temas de videojuegos.
        p Aficionado al deporte, las últimas tecnologías y videojuegos.
        p En mi tiempo aprovecho para emprender pequeños proyectos personales que me mantengan motivado. Gracias a esto he tomado conciencia de otros aspectos como la experiencia de usuario (UX).
        p Últimamente también he empezado a documentarme acerca de la gamificación y de como aplicarla ya que me resulta realmente interesante.
md-content.fade-in.fade3
  md-card
    md-card-content
      h2
        span.icon-gamepad.title-option-icon
        | Ocio
      .info-card(layout="row", layout-wrap)
        .legend(flex="100", flex-gt-sm="50")
          ul
            li.ocio-item: span Videojuegos 25%
            li.ocio-item: span Tecnología 25%
            li.ocio-item: span Cine &amp; TV 15%
            li.ocio-item: span Deporte 15%
            li.ocio-item: span Turismo 10%
            li.ocio-item: span Otros 10%
        .graph-container(flex="50")
          .pie(data-start='0', data-value='90')
          .pie(data-start='90', data-value='90')
          .pie(data-start='180', data-value='54')
          .pie(data-start='234', data-value='54')
          .pie(data-start='288', data-value='36')
          .pie(data-start='324', data-value='36')

md-content.fade-in.fade4
  md-card
    md-card-content
      h2
        span.icon-cog-alt.title-option-icon
        | Tecnologías
      .info-card
        p Echa un vistazo a las tecnologías con las que trabajo.
      .info-card
        md-list(layout="row", layout-wrap)
          md-item(ng-repeat="skill in skills", layout-sm, flex-md="50", flex-gt-sm="50", flex-gt-md="33")
            md-item-content
              .md-tile-left
                img.face(ng-src="{{skill.image}}", alt="skill.what")
              .md-tile-content
                h3 {{skill.what}}
                p {{skill.notes}}
md-content.fade-in.fade5
  md-card
    md-card-content
      h2
        span.icon-graduation-cap.title-option-icon
        | Formación
      .info-card
        md-list(layout="row", layout-wrap)
          md-item(ng-repeat="education in educations",
            ng-animate="animate",
            layout-sm,
            flex-md="50",
            flex-gt-sm="50",
            flex-gt-md="33")
            md-item-content
              .md-tile-left
                a(ng-if="education.href", ng-href="{{education.href}}", target="_blank")
                  img.face(ng-src="{{education.image}}", alt="{{education.what}}")
                img.face(ng-if="!education.href", ng-src="{{education.image}}", alt="{{education.what}}")
              .md-tile-content
                h3 {{education.what}}
                h4 {{education.where}}
                p {{education.notes}}

