.master-head.contact.fade-in.fade1
  .info(layout="row", layout-align="center end")
    p Encuéntrame en diferentes redes y comunidades
md-content.fade-in.fade2
  md-card
    md-card-content
      .info-card
        p
          img.photo(src="src/images/map.jpg", alt="Madrid")
          | Actualmente resido en Madrid, España.
        p Puedes encontrarme en diferentes redes sociales y comunidades para contactar conmigo como prefieras.
md-content.fade-in.fade3
  md-card
    md-card-content(layout="row", layout-wrap, layout-fill, layout-padding)
      .contact-container(ng-repeat="social in socials",
        flex,
        flex-sm="50",
        flex-md="33",
        flex-gt-md="20")
        md-button.contact-button.md-primary(aria-label="Ir a {{social.name}} de {{social.contact}}", ng-href="{{social.href}}", target="_blank")
          span.contact-icons(class="{{social.icon}}")
          md-tooltip {{social.contact}}
        h2 {{social.name}}