.master-head.home.fade-in.fade1
  .info(layout="row", layout-align="center end")
    p ¡Gracias por tu visita! Este portafolio está hecho con AngularJS &amp; Material design
md-content.fade-in.fade2(layout="row", layout-wrap)
  md-card(layout-sm,
    flex-gt-sm="49")
    md-card-content
      h2
        span.icon-beaker.title-option-icon
        | Proyectos
      .info-card
        p Conoce mi experiencia laboral con proyectos en los que he participado o aquellos que a nivel personal me mantienen motivado.
      .info-card(layout="column" layout-align="center center")
        md-button.md-primary(ng-href="#/personal") Personales
        md-button.md-primary(ng-href="#/professional") Profesionales
  md-card(layout-sm,
    flex-gt-sm="49")
    md-card-content
      h2
        span.icon-search.title-option-icon
        | Descubre más
      .info-card
        p Conoce mi perfil a través de mis aficiones y otros intereses. También puedes encontrarme en diferentes redes y contactar conmigo.
      .info-card(layout="column" layout-align="center center")
        md-button.md-primary(ng-href="#/about") Perfil
        md-button.md-primary(ng-href="#/contact") Contacto
