/* http://codepen.io/AtomicNoggin/pen/fEish */

.graph-container {
  position: relative;
  min-height: 200px;
}
.pie {
  position:absolute;
  width:100px;
  height:200px;
  overflow:hidden;
  left:150px;
  -moz-transform-origin:left center;
  -ms-transform-origin:left center;
  -o-transform-origin:left center;
  -webkit-transform-origin:left center;
  transform-origin:left center;
}

.pie.big {
  width:200px;
  height:200px;
  left:50px;
  -moz-transform-origin:center center;
  -ms-transform-origin:center center;
  -o-transform-origin:center center;
  -webkit-transform-origin:center center;
  transform-origin:center center;
}

.pie:BEFORE {
  content:"";
  position:absolute;
  width:100px;
  height:200px;
  left:-100px;
  border-radius:100px 0 0 100px;
  -moz-transform-origin:right center;
  -ms-transform-origin:right center;
  -o-transform-origin:right center;
  -webkit-transform-origin:right center;
  transform-origin:right center;
}

.pie.big:BEFORE {
  left:0px;
}

.pie.big:AFTER {
  content:"";
  position:absolute;
  width:100px;
  height:200px;
  left:100px;
  border-radius:0 100px 100px 0;
}

.pie:nth-of-type(1):BEFORE,
.pie:nth-of-type(1):AFTER {
  background-color:$pieColor1;
}
.pie:nth-of-type(2):AFTER,
.pie:nth-of-type(2):BEFORE {
  background-color:$pieColor2;
}
.pie:nth-of-type(3):AFTER,
.pie:nth-of-type(3):BEFORE {
  background-color:$pieColor3;
}
.pie:nth-of-type(4):AFTER,
.pie:nth-of-type(4):BEFORE {
  background-color:$pieColor4;
}
.pie:nth-of-type(5):AFTER,
.pie:nth-of-type(5):BEFORE {
  background-color:$pieColor5;
}
.pie:nth-of-type(6):AFTER,
.pie:nth-of-type(6):BEFORE {
  background-color:$pieColor6;
}

@mixin pie-part-start($angle) {
  -moz-transform: rotate($angle); /* Firefox */
  -ms-transform: rotate($angle); /* IE */
  -webkit-transform: rotate($angle); /* Safari and Chrome */
  -o-transform: rotate($angle); /* Opera */
  transform:rotate($angle);
}

.pie[data-start="90"] {
  @include pie-part-start(90deg);
}
.pie[data-start="180"] {
  @include pie-part-start(180deg);
}
.pie[data-start="234"] {
  @include pie-part-start(234deg);
}
.pie[data-start="288"] {
  @include pie-part-start(288deg);
}
.pie[data-start="324"] {
  @include pie-part-start(324deg);
}

@mixin pie-part-value($value) {
  -moz-transform: rotate($value); /* Firefox */
  -ms-transform: rotate($value); /* IE */
  -webkit-transform: rotate($value); /* Safari and Chrome */
  -o-transform: rotate($value); /* Opera */
  transform:rotate($value);
}

.pie[data-value="36"]:BEFORE {
  @include pie-part-value(37deg);
}
.pie[data-value="54"]:BEFORE {
  @include pie-part-value(55deg);
}
.pie[data-value="90"]:BEFORE {
  @include pie-part-value(91deg);
}