/* http://www.materialui.co/colors  material palette*/
/* http://www.materialpalette.com/deep-purple/amber  material palette*/

// indigo
$dialog-title-color: #283593; //800
$banner-color: #5C6BC0; //400

$pieColor1: #f44336;
$pieColor2: #3F51B5;
$pieColor3: #EC407A;
$pieColor4: #03A9F4;
$pieColor5: #FFB300;
$pieColor6: #9E9E9E;

@import "fontello";
@import "pie";
@import "animations";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
  font-family: 'Ubuntu';
  src: url('src/font/Ubuntu-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #fff;
}

body {
  font-family: 'Ubuntu', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

md-toolbar {
  min-height: 56px;
  button.menuBtn {
    margin: 10px 16px 10px 16px;
  }
  .menutabs-container {
    height: 56px;
    .md-header {
      height: 56px;
    }
  }
  .toolbar-icon {
    position: absolute;
    top: 13px;
    left: 46%;
    opacity: 0.4;
  }
}
.sidemenu-head{
  min-height: 150px;
  height: 150px;
}

.menu-background {
  background-image: url('src/images/menu.jpg');
  background-size: cover;
  background-position-y: -25px;

}

.menu-option-icon {
  margin: 0px 10px 0px 10px;
}
.tabs-option-icon, .title-option-icon {
  margin: 0px 10px 0px 0px;
}

.ocio-item {
  list-style: none;
  color: white;
  padding: 10px 15px;
  margin: 10px 5px;
  &:nth-of-type(1){
    background-color: $pieColor1;
    width: 100%;
  }
  &:nth-of-type(2){
    background-color: $pieColor2;
    width: 100%;
  }
  &:nth-of-type(3){
    background-color: $pieColor3;
    width: 85%;
  }
  &:nth-of-type(4){
    background-color: $pieColor4;
    width: 85%;
  }
  &:nth-of-type(5){
    background-color: $pieColor5;
    width: 75%;
  }
  &:nth-of-type(6){
    background-color: $pieColor6;
    width: 75%;
  }
}

.contact-container {
  text-align: center;
}
.contact-button, .contact-icons{
  font-size: 52px;
}

.master-head {
    margin-top: -20px;
    height: 240px;
    color: white;
    text-align: center;
    background-size: cover;
    background-color: $banner-color;
    &.home {
      background-image: url('src/images/banners/home.jpg');
    }
    &.about {
      background-image: url('src/images/banners/about.jpeg');
    }
    &.personal {
      background-image: url('src/images/banners/personal.jpg');
    }
    &.professional {
      background-image: url('src/images/banners/professional.jpg');
    }
    &.contact {
      background-image: url('src/images/banners/contact.jpg');
    }
    .info {
      height: 100%;
      p {
        font-size: 18px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.45);
      }
    }
    h1 {
      // padding: 50px 0px 0px 120px;
      font-size: 34px;
      line-height: 48px;
      font-weight: 300;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.2);
    }
}

.photo {
  float: left;
  margin: 10px 20px 10px 10px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgb(221, 221, 221);
}

.info-card {
  // font-size: 16px;
  // padding: 5px 16px;
  // line-height: 1.3;
  p {
    color: #616161;
    margin: 5px 0;
  }

}

.company-name, .project-name {
  margin: 0 0 .2rem;
}

.project-name + small {
  margin-bottom: .5rem;
  display: inline-block;
}

img.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

md-dialog.custom-dialog md-content {
  padding-top: 0px;
}

.custom-dialog h2.md-subheader {
  background-color: $dialog-title-color !important;
  font-size: 16px;
  color: white;
  margin: 0px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
  &.md-sticky-clone {
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
  }
}

.cv-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  /* IOS fix */
  background-color: rgb(255, 171, 0);
}

.music-controller {
  position: absolute;
  top: 8px;
  right: 6%;
  font-size: 22px;
  border-radius: 50%;
  .md-button {
    border-radius: 50%;
  }
}

.wave {
  position: absolute;
  top: 56px;
  right: 18%;
}

.egypt-adveture-card {
  width: 90%;
  height: 90%;
  margin: 10px auto;
}

.arcade-pi-images {
  margin: 10px auto;
  width: 90%;
  height: 90%;
}

.project-image {
  height: 200px;
}

.project-card p {
  line-height: 1.6;
}


@media only screen and (min-width : 480px) and (max-width : 600px) {
  .master-head.home {
    height: 320px;
  }

}

@media only screen and (min-width : 600px) and (max-width : 1024px) {
  .master-head.home {
    height: 400px;
  }

  .master-head {
    .info {
      p {
        font-size: 22px;
      }
    }
  }
  .profile-photo {
    width: 150px;
  }
  .info-card.project-card {
    min-height: 110px;
  }
  .egypt-adveture-card {
    width: 45%;
    height: 45%;
  }
  .project-image {
    height: 200px;
  }
}

@media only screen and (min-width : 1024px) {
  .master-head.home {
    height: 600px;
  }
  .master-head {
    .info {
      p {
        font-size: 26px;
      }
    }
  }
  .profile-photo {
    width: 170px;
  }
  .info-card.project-card {
    min-height: 120px;
  }
  .egypt-adveture-card {
    width: 45%;
    height: 45%;
  }
  .project-image {
    height: 200px;
  }
}

@media only screen and (min-width : 1400px) {
  .cv-button {
    right: 18%;
  }

}
