md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Battleship - Hundir la flota
    p Proyecto experimental para probar Angular 2 en su versión RC 1.
    p Se trata de un pequeño juego que emula el clásico hundir la flota.
    p Se han implementado componentes, servicios, observables, validaciones de formulario, etc ...
    ul
      li HTML 5
      li CSS3
      li Typescript
      li Rxjs

  .md-actions(layout="row")
    md-button.md-primary(href="https://github.com/alexarroyoduque/battleship", target="_blank") Repositorio
    md-button.md-primary(ng-click="hide()") Cerrar
