md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Click Master
    p Un pequeño juego que tuvo su origen entre las risas de los compañeros en un buen día de trabajo. Consiste en hacer 211 clicks sin pasarte.
    p Click Master está construído con AngularJS.
    p Al terminar una partida aparecen estadísticas y logros con tu rendimiento, ¿Serás más rápido que tus compañeros?
    p Las puntuaciones se almacenan en una base de datos de
        a(href="https://firebase.google.com/docs/web/setup?hl=es", title="Ir a firebase", target="_blank")  Firebase.
    p Originalmente los datos se guardaban en Parse pero en 2021 se actualizó a Firebase.
    p La aplicación es responsive y se adapta a diferentes dispositivos.

  .md-actions(layout="row")
    md-button.md-primary(href="https://clickmaster-online.web.app", target="_blank") Jugar
    md-button.md-primary(ng-click="hide()") Cerrar