md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Click Master
    p Un pequeño juego que tuvo su origen entre las risas de los compañeros en un buen día de trabajo. Consiste en hacer 211 clicks sin pasarte.
    p Click Master está construído con AngularJS.
    p Al terminar una partida aparecen estadísticas y logros con tu rendimiento, ¿Serás más rápido que tus compañeros?
    p Dichas puntuaciones se almacenan en una base de datos hecha con
        a(href="https://parse.com/", title="Ir a Parse", target="_blank")  Parse.
    p La aplicación es responsive y se adapta a diferentes dispositivos.

  .md-actions(layout="row")
    md-button.md-primary(href="https://clickmaster-online.web.app", target="_blank") Jugar
    md-button.md-primary(ng-click="hide()") Cerrar