md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Click Master
    p Un pequeño juego que tuvo su origen entre las risas de los compañeros en un buen día de trabajo. Consiste en hacer 211 clicks sin pasarte.
    p Click Master está hecho con Angular y utiliza un node como servidor. En este ejercició utilicé el módigo ngAnimate de Angular desconocido para mi hasta ese momento.
    p Al terminar una partida aparecen estadísticas y logros con tu rendimiento, ¿Serás más rápido que tus compañeros?
    p La aplicación es responsive y se adapta a diferentes dispositivos sin problema.

  .md-actions(layout="row")
    md-button.md-primary(href="http://bit.ly/1FerFmQ", target="_blank") Visitar web
    md-button.md-primary(ng-click="hide()") Cerrar