md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Dart master
    p Juego de dardos desarrollado con GB Studio
    p Se puede jugar en una GameBoy o emulador descargando la ROM y también desde el navegador.

  .md-actions(layout="row")
    md-button.md-primary(href="https://dart-master-online.web.app", target="_blank") Jugar
    md-button.md-primary(href="https://github.com/alexarroyoduque/dart-master/raw/master/build/rom/game.gb", target="_blank") ROM
    md-button.md-primary(href="https://github.com/alexarroyoduque/dart-master", target="_blank") Repositorio
    md-button.md-primary(ng-click="hide()") Cerrar
