md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Cromos de Egypt Adventure
    p Disfruta de los cromos promocionales de Egypt Adventure utilizados durante la campaña promocional.
    p Cada cromo cuenta con detalles de algún elemento del juego.
    .fade-in.fade3(layout="row", layout-wrap)
      img.egypt-adveture-card(src="src/images/personal/egypt-adventure-cards/anubis_cromo.jpg", alt="Anubis")
      img.egypt-adveture-card(src="src/images/personal/egypt-adventure-cards/cup-ank_cromo.jpg", alt="Copa de Ank")
      img.egypt-adveture-card(src="src/images/personal/egypt-adventure-cards/boomerang_cromo.jpg", alt="Búmeran")
      img.egypt-adveture-card(src="src/images/personal/egypt-adventure-cards/apophis_cromo.jpg", alt="Apofis")
      img.egypt-adveture-card(src="src/images/personal/egypt-adventure-cards/ank_cromo.jpg", alt="ank")
      img.egypt-adveture-card(src="src/images/personal/egypt-adventure-cards/anuket_cromo.jpg", alt="Anuket")
      img.egypt-adveture-card(src="src/images/personal/egypt-adventure-cards/ra_cromo.jpg", alt="Ra")
      img.egypt-adveture-card(src="src/images/personal/egypt-adventure-cards/anubis2_cromo.jpg", alt="Anubis")

  .md-actions(layout="row")
    md-button.md-primary(href="http://www.egyptadventuregame.com/index-es", target="_blank") Visitar web
    md-button.md-primary(ng-click="hide()") Cerrar