md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Galaxia oculta
    p El #pixelOculto nació como sección especial en los meetup de
        a(href="meetup.com/es-ES/videogamearmy/", target="_blank") Video Game Army
        | &nbsp; el formato evolucionó a un podcast sobre videojuegos.
    p Más adelante nació la #cantinaOculta ante la necesidad de querer hablar sobre otros temas no relacionados directamente con el videojuego.

  .md-actions(layout="row")
    md-button.md-primary(href="https://www.ivoox.com/escuchar-galaxia-oculta_nq_225393_1.html", target="_blank") Podcast
    md-button.md-primary(ng-click="hide()") Cerrar
