md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Invitado a Radio GameOn
    p Tras intervenciones telefónicas habituales anunciado los meetups de
        a(href="http://www.meetup.com/es-ES/videogamearmy/")  Video Game Army
        |  en radio GameOn surgió la oportunidad de colaborar en un programa.
    p Asistí como invitado durante todo el programa 13 de Julio de 2016 y se habló de:
    ul
        li Noticias de actualidad
        li Código PEGI
        li Videojuegos y salud
        li Elementos de un videojuego
        li Game Design
    p Puedes escuchar el programa grabado en:
        a(href="https://www.ivoox.com/12273875")  https://www.ivoox.com/12273875
        |.
        
  .md-actions(layout="row")
    md-button.md-primary(href="http://www.radiogameon.com", target="_blank") Visitar web
    md-button.md-primary(ng-click="hide()") Cerrar
