md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Gau el experto
    p Gau es un experto en tecnología que proporciona soluciones cuando sus clientes cuando lo necesiten.
    p Acompaña a Gau en su primer día de trabajo guiándole durante esta aventura interactiva. Toma decisiones y explora cada rincón para completar con éxito el juego.
    p Puedes jugar en sistemas Windows o en sistemas OSX con el ejecutable correspondiente.
    p Las tecnologías de desarollo han sido:
    ul
      li AngularJS 1.4
      li HTML5
      li CSS3
      li SCSS
      li Jade
      li Gulp
      li Node Webkit 0.12.2

  .md-actions(layout="row")
    md-button.md-primary(href="https://mega.co.nz/#!0pwExDhT!dy1Xjdk21dUbHUf-jXeM6nfMHSIvsT66PhhfDzKQ948", target="_blank") Descargar para OSX
    md-button.md-primary(href="https://mega.co.nz/#!shgj3SiL!hBb5pDKoUEwEncVxByaCRvXB9-AACqIGE_BrSRVCa7w", target="_blank") Descargar para Win-32bits
    md-button.md-primary(href="https://mega.co.nz/#!U0wFxDiK!RHQAomHfGKqSCw83yGZYUqsRsDFrhvxD1ccX2m2LgNQ", target="_blank") Descargar para Win-64bits
    md-button.md-primary(ng-click="hide()") Cerrar