md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Master Gun
    p Con la intención de tomar contacto con Polymer nació Master Gun.
    p Un pequeño juego a modo de experimento compuesto por componentes Polymer.
    p El objetivo del juego es sumar puntos disparando a los indios y los vaqueros que aparecen en el escenario. El jugador dispone de un revolver con un número limitado de balas.
    p Las tecnologías que intervienen en el desarrollo de Master Gun son:
    ul
      li HTML5
      li CSS3
      li Polymer
      li Gulp
    p Cabe destacar que está optimizado para Chrome.

  .md-actions(layout="row")
    md-button.md-primary(href="http://bit.ly/1I9o9LZ", target="_blank") Visitar web
    md-button.md-primary(ng-click="hide()") Cerrar