md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Master Gun
    p Con la intención de tomar contacto con Polymer nació Master Gun.
    p Un pequeño juego a modo de experimento compuesto por componentes Polymer.
    p El objetivo del juego es sumar puntos disparando a los indios y los vaqueros que aparecen en el escenario. El jugador dispone de un revolver con un número limitado de balas.
    p Las tecnologías que intervienen en el desarrollo de Master Gun son:
    ul
      li HTML5
      li CSS3
      li Polymer
      li Gulp
    p
      a(href="https://www.youtube.com/watch?v=G4_shmN28ZU", target="_blank") Vídeo de la charla en el meetup de Polymer (Madrid).


  .md-actions(layout="row")
    md-button.md-primary(href="https://master-gun.herokuapp.com/", target="_blank") Jugar
    md-button.md-primary(href="https://github.com/alexarroyoduque/master-gun", target="_blank") Repositorio
    md-button.md-primary(ng-click="hide()") Cerrar
