md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Master Wars
    p ¿Cuánto sabes del universo MARVEL?
    p Experimento para tomar contacto con la librería React.
    p Un pequeño juego que se conecta a la Api pública de MARVEL para traer información de sus super heroes.
    p El juego consiste en ir enfrentando un héroe contra otro respondiendo a la pregunta formulada.
    p La pregunta puede ser por ejemplo ¿Quién ha participado en más eventos? Si el jugador elige al héroe correcto sumará un punto.
    p Las tecnologías que intervienen en el desarrollo de Master Wars son:
    ul
      li jsx
      li sass
      li React
      li es6
      li Express
      li Webpack

  .md-actions(layout="row")
    md-button.md-primary(href="https://master-wars.herokuapp.com/", target="_blank") Jugar
    md-button.md-primary(href="https://github.com/alexarroyoduque/master-wars", target="_blank") Repositorio
    md-button.md-primary(ng-click="hide()") Cerrar
