md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Orlog
    p Orlog es un juego de dados de Assassin´s Creed Valhalla en el que dos jugadores intentarán reducir la salud del contrario a través de varias tiradas y el uso de otros efectos.
    p Esta adaptación web está desarollada con lit-html.
    p Los colores, tipografía y ambientación pretenden evocar a Assassin´s Creed Valhalla.
    p La iconografía de las caras de los dados y el símbolo de puntos de "favor divino" han sido diseñados como un calco en svg del Orlog original.

  .md-actions(layout="row")
    md-button.md-primary(href="https://orlog-online.web.app", target="_blank") Jugar
    md-button.md-primary(href="https://github.com/alexarroyoduque/orlog", target="_blank") Repositorio
    md-button.md-primary(ng-click="hide()") Cerrar
