md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Peteypedia
    p Al final de cada capítulo del cómic original de WATCHMEN se incluyen documentos que enriquecen la obra y HBO con su serie creó la PETEYPEDIA haciendo algo similar.
    p Sin embargo HBO no permite acceder a esta información fuera de USA.
    p Aquí tenemos una representación aproximada de la PETEYPEDIA donde se pueden leer esos documentos en castellano.

  .md-actions(layout="row")
    md-button.md-primary(href="https://peteypedia-spanish.firebaseapp.com", target="_blank") Sitio web
    md-button.md-primary(href="https://github.com/alexarroyoduque/peteypedia-spanish", target="_blank") Repositorio
    md-button.md-primary(ng-click="hide()") Cerrar
