md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Píxel oculto
    p Nacido como una sección especial en las charlas de Alejandro Arroyo Duque en &nbsp;
        a(href="meetup.com/es-ES/videogamearmy/", target="_blank") Video Game Army
        | &nbsp; se transforma en un podcast sobre videojuegos. 
    p Un espacio dedicado a disfrutar del mundo de los videojuegos de una forma tranquila.
    p Dirigido por Alejandro Arroyo Duque (@AlexArroyoDuque) y acompañado de diferentes participantes que nos aportarán su visión sobre los diferentes temas a tratar.    

  .md-actions(layout="row")
    md-button.md-primary(href="http://www.ivoox.com/podcast-pixel-oculto_sq_f1312453_1.html", target="_blank") Podcast
    md-button.md-primary(ng-click="hide()") Cerrar
