md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Project Black
    p Project Black es un divertido videojuego arcade con el que un jugador experimentará los desafíos que presenta la vida de una persona invidente. Deberá bastarse de su sentido del oído y de su bastón (representado por el force feedback del gamepad) para percibir su entorno. El simple hecho de cruzar un paso de peatones se convertirá en una aventura tan épica como peligrosa.
    p Este proyecto ha sido desarrollado con
      a(href="http://www.yoyogames.com/gamemaker?cr_exp=s&cr_cid=166469046", target="_blank")  Game Maker
      |  junto a Samuel Dorado Rodríguez dentro de la iniciativa "Hacking the game" de s|ngular.
    p El proyecto busca hacer un bien social a través de un videojuego concienciando de cómo se enfrentan cada día las personas invidentes al mundo.

  .md-actions(layout="row")
    md-button.md-primary(href="https://www.youtube.com/watch?v=Jl3qyaGQ6ww6", target="_blank") Vídeo
    md-button.md-primary(href="https://github.com/alexarroyoduque/black", target="_blank") github
    md-button.md-primary(ng-click="hide()") Cerrar
