md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Shootem Totem
    p Próximamente...
    p Mi primer acercamiento a Unity llegará de la mano de un shootem up.
    p La idea es hacer un juego multijugador de scroll vertical, enemigos, power-ups y algún jefe. Todo esto de la mano de un arte basado en las pautas de diseño de los paper-elements de material design.
    p Además la parte multijugador vendrá dada mediante un dispositivo móvil. La acción ocurre en la pantalla pero manejas la nave con el teléfono.

  .md-actions(layout="row")
    md-button.md-primary(ng-click="hide()") Cerrar