md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Shootem Totem
    p Un juego shoot'em up con enemigos, power-ups y jefes en cada fase.
    p Este proyecto es un homenaje a cosas que me acompañaron a lo largo de mi infancia.
    p Se pueden encontrar referencias a dragon ball, terminator, zelda, una odisea en el espacio, los cazafantasmas, thor, oliver y benji, etc, ...
    p Además este juego incluye un nuevo experimento por mi parte. Y es que puedes jugar con un teléfono móvil como controlador y ver la acción en la pantalla del ordenador. He utilizado websockets y la librería socket.io para conseguir esto.
    p En cuanto al arte lo he hecho lo más sencillo posible y me he inspirado de los paper-elements de material design.

  .md-actions(layout="row")
    md-button.md-primary(href="https://github.com/alexarroyoduque/shootem-totem", target="_blank") Ver proyecto
    md-button.md-primary(ng-click="hide()") Cerrar
