md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Trainvial
    p Este proyecto contiene una aplicación construída con AngularJS para probar y conocer su funcionamiento. Se trata de un juego de tablero de preguntas y respuestas. Se usan aspectos básicos de Angular como módulos, controladores y filtros.
    p También utilicé Bootstrap 2 para conocer más este framework no solo de forma teórica. Del mismo modo incorporé algunas animaciones CSS3.
    p Apliqué responsive design y probé la aplicación en diferentes dispositivos móviles.
    p En definitiva este pequeño proyecto fue el trampolín que me ayudó a desenvolverme mejor en futuros proyectos.

  .md-actions(layout="row")
    md-button.md-primary(href="http://goo.gl/HHi2F", target="_blank") Visitar web
    md-button.md-primary(ng-click="hide()") Cerrar