md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Colaborador VGA
    p De la mano de Alberto Pérez Bermejo y su organización VGA he tenido la oportunidad de impartir charlas en esta comunidad.
    p Entre las charlas que he impartido se encuentran las siguientes:
    dl

    dt Especial años 90: Homenaje al 25 aniversario de Sonic
    dd
      p Un evento donde apelar a la nostalgia de la era pre-playstation. Nuestro compañero en este viaje es Sonic pero hablamos de mucho más en esta aventura. No faltan anécdotas, datos de interés y por supuesto algunas sorpresas.
      p
        a(href="https://youtu.be/7OCtgGy6oP8?list=PLSU8gwPNxLi4HdEVjlRuTlywFaM7zenNP", target="_blank") Vídeo de la charla
        |  y los
        a(href="http://slides.com/alexarroyoduque/especial-90-sonic#/", target="_blank")  slides.

    dt Cuarta pared
    dd
      p Un repaso a como se ha roto la cuarta pared en los videojuegos. Un evento lleno de sorpresas.
      p
        a(href="https://youtu.be/eew6ksm2tQw?t=1m50sP", target="_blank") Vídeo de la charla
        |  y los
        a(href="http://slides.com/alexarroyoduque/cuarta-pared", target="_blank")  slides.

    dt Game design: una aventura mística
    dd
      p Una introducción al diseño de videojuegos con consejos y recomendaciones personales.
      p
        a(href="https://www.youtube.com/watch?v=z3RMVOShsfE", target="_blank") Vídeo de la charla
        |  y los
        a(href="http://slides.com/alexarroyoduque/game-design-una-aventura-mistica#/", target="_blank")  slides.
    dt Introducción a PhaserJS
    dd
      p Tras mi experiencia con Egypt Adventure doy una charla sobre como crear un juego de plataformas con PhaserJS.
      p
        a(href="http://goo.gl/RvnzEP", target="_blank") Vídeo de la charla
        |  y los
        a(href="http://goo.gl/cdHZTk​", target="_blank")  slides.
    dt Introducción a Construct2
    dd
      p En esta charla introduzco la herramienta Cosntruct2 para hacer juegos sin programar.
      p Una divertida charla en la que en lugar de unos slides clásicos hice un videojuego para que un voluntario me ayudara durante la presentación.
      p También tiene lugar una demo en directo en la que se monta un juego de plataformas desde cero.
      p
        a(href="https://www.youtube.com/watch?v=rRPRB0DPbK8#t=42m40s", target="_blank") Vídeo de la charla
        |  y los
        a(href="https://slides.com/alexarroyoduque/construct2/", target="_blank")  slides en versión clásica.

  .md-actions(layout="row")
    md-button.md-primary(href="http://www.meetup.com/es-ES/videogamearmy/", target="_blank") Visitar web
    md-button.md-primary(ng-click="hide()") Cerrar
