md-dialog.custom-dialog
  md-content
    md-subheader.md-sticky-no-effect Where is it?
    p Un juego que ocupa menos de 1 kb!
    p El objetivo es muy sencillo. El juego informa el botón que hay que buscar y el jugador deberá encontrarlo y hacer click en él.
    ul
      li HTML 5
      li CSS3
      li Javascript
      li Gulp

  .md-actions(layout="row")
    md-button.md-primary(href="https://where-is-it-online.web.app", target="_blank") Jugar
    md-button.md-primary(href="https://github.com/alexarroyoduque/where-is-it", target="_blank") Repositorio
    md-button.md-primary(ng-click="hide()") Cerrar
